<div class="container">
  <h1>Registro a Red Video Juego</h1>

  <table>
    <tr>
      <td colspan="2">
        <a routerLink="/">Cancelar</a>
      </td>
    </tr>

    <tr>
      <td colspan="2">Email</td>
    </tr>
    <tr>
      <td colspan="2">
        <input
          type="email"
          [(ngModel)]="myPayloadUser.email"
          placeholder="Ingresa tu correo"
        />
      </td>
    </tr>

    <tr>
      <td>UserName</td>
    </tr>
    <tr>
      <td colspan="2">
        <input
          type="text"
          [(ngModel)]="myPayloadUser.username"
          name="username"
          placeholder="Ingresa tu nombre de usuario"
        />
      </td>
    </tr>

    <tr>
      <td colspan="2">Password</td>
    </tr>
    <tr>
      <td colspan="2">
        <input
          type="password"
          [(ngModel)]="myPayloadUser.password"
          placeholder="Crea una contraseña"
        />
      </td>
    </tr>

    <tr>
      <td></td>
      <td>
        <button (click)="createUser()">Crear</button>
      </td>
    </tr>
  </table>

  <a routerLink="/login">¿Ya tienes cuenta? Inicia sesión aquí.</a>
</div>
