<div class="container">
  <h1>Login Red Video Juego</h1>

  <table>
    <tr>
      <td colspan="2">
        <a routerLink="/">Cancelar</a>
      </td>
    </tr>

    <tr>
      <td>Email</td>
      <td>
        <input
          type="email"
          [(ngModel)]="email"
          placeholder="Ingresa tu correo"
        />
      </td>
    </tr>

    <tr>
      <td>Password</td>
      <td>
        <input
          type="password"
          [(ngModel)]="password"
          placeholder="Ingresa tu contraseña"
        />
      </td>
    </tr>

    <tr>
      <td></td>
      <td>
        <button (click)="callLogin()">Log in</button>
      </td>
    </tr>

    <tr>
      <td></td>
      <td>¿Nuevo? <a routerLink="/newuser">Crear cuenta</a></td>
    </tr>
  </table>
</div>
