<div class="container color-light">
  <!-- Formulario para agregar un tweet -->
  <div class="col">
    <form (ngSubmit)="addTweet()">
      <input
        type="text"
        class="txt"
        name="nombre"
        placeholder="nombre"
        [(ngModel)]="nombre"
        required
      />
      <input
        type="text"
        class="txt"
        name="creador"
        placeholder="Creador"
        [(ngModel)]="creador"
        required
      />
      <input
        type="number"
        class="txt"
        name="fechaDelanzamiento"
        placeholder="Año de lanzamiento"
        [(ngModel)]="fechaDelanzamiento"
        required
      />
      <input
        type="text"
        class="txt"
        name="plataformas"
        placeholder="Plataformas"
        [(ngModel)]="plataformas"
        required
      />
      <input
        type="text"
        class="txt"
        name="genero"
        placeholder="Género"
        [(ngModel)]="genero"
        required
      />

      <button type="submit" class="btn">Tweet</button>
    </form>
  </div>

  <!-- Lista de tweets con botones para reaccionar y comentar -->
  <div class="col">
    <div *ngFor="let tweet of tweets">
      <div class="life-container">
        <p>
          {{ tweet.id }} - {{ tweet.nombre }} - {{ tweet.creador }} -
          {{ tweet.fechaDeLanzamiento }} - {{ tweet.plataformas }} -
          {{ tweet.genero }}
        </p>

        <!-- Mostrar los comentarios asociados al tweet -->
        <div *ngIf="comentarios[tweet.id] && comentarios[tweet.id].length > 0">
          <div *ngFor="let comentario of comentarios[tweet.id]">
            <p>
              <strong>{{ comentario.nombreAutor }}:</strong>
              {{ comentario.comentario }}
              <span class="fecha-comentario">
                ({{ comentario.fecha | date : "short" }})
              </span>
            </p>
          </div>
        </div>
        <div *ngIf="!comentarios[tweet.id]?.length">
          <p>No hay comentarios para este tweet.</p>
        </div>

        <!-- Campo para agregar un comentario -->
        <input
          type="text"
          [(ngModel)]="commentText[tweet.id]"
          placeholder="Escribe tu comentario"
          class="txt"
        />
        <button (click)="addComentario(tweet.id)">Enviar comentario</button>
        <button (click)="countReactions(tweet.id)">prueba</button>

        <p>
          Likes: {{ reactionCounts[tweet.id].likes || 0 }}
          <!-- Muestra 0 si el valor es undefined o null -->
        </p>
        <p>
          Dislikes: {{ reactionCounts[tweet.id].dislikes || 0 }}
          <!-- Muestra 0 si el valor es undefined o null -->
        </p>

        <!-- Botón para agregar "Like" -->
        <button (click)="addLike(tweet.id)">👍 Me gusta</button>

        <!-- Botón para agregar "Dislike" -->
        <button (click)="addDisLike(tweet.id)">👎 No me gusta</button>
      </div>
    </div>
  </div>
</div>
